{% extends 'admin_base.jinja' %}

{% block page_content %}
<div class="container-fluid py-4">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-body p-3">
                <h5>Books</h5>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-1">
                        <a class="btn btn-dark btn-sm" href="{{ url_for('admin.book_add')}}">+ Book</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    {% for book in books %}
    <div class="col-3">
        <div class="card mb-4">
            <div class="card-body p-3">
                <div class="col-xl-12 col-md-6 mb-xl-0 mb-4">
                    <div class="card card-blog card-plain">
                        <div class="position-relative">
                            <a class="d-block shadow-xl border-radius-xl">
                            <img src="{{ book.cover }}" alt="img-blur-shadow" class="img-fluid shadow border-radius-xl">
                            </a>
                        </div>
                        <div class="card-body px-1 pb-0">
                            <p class="text-gradient text-dark mb-2 text-sm">{{ book.author }}</p>
                            <h5>{{ book.title }}</h5>
                            {% if book.is_published %}
                                <span class="badge bg-gradient-success">Published</span>
                            {% else %}
                                <span class="badge bg-gradient-secondary">Unpublished</span>
                            {% endif %}
                            <p class="mb-4 text-sm">
                                {% if book.annotation %}
                                    {{ book.annotation[0:100] + '...' }}
                                {% else %}
                                    Empty
                                {% endif %}
                            </p>
                            <div class="d-flex align-items-center justify-content-between">
                                <a href="{{ url_for('admin.book', book_id=book.id) }}" class="btn btn-dark btn-sm w-100" role="button" aria-pressed="true">Open</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock page_content %}


