{% extends 'admin_base.jinja' %}

{% block title %}
Add book | Obscure Dream
{% endblock title%}

{% block page_content %}
<div class="container-fluid py-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-1">
                <a class="btn btn-outline-dark btn-sm" href="{{ url_for('admin.books')}}"><span data-feather="corner-down-left"></span> Go back</a>
            </div>
        </div>
    </div>
    {% if form %}
    <form action="" method="post" class="form-contact">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.title.label(class_='form-label') }}
            {{ form.title(class_='form-control') }}
        </div>
        <div class="mb-3">
            {{ form.annotation.label(class_='form-label') }}
            {{ form.annotation(class_='form-control') }}
        </div>
        <div class="mb-3">
            {{ form.author.label(class_='form-label') }}
            {{ form.author(class_='form-control') }}
        </div>
        <div class="form-check form-switch">
            {{ form.is_published.label(class_='form-check-label') }}
            {{ form.is_published(class_='form-check-input', type='checkbox') }}
        </div>
        
        {{ form.submit(class_='btn btn-dark') }}
    </form>
    {% endif %}
</div>
{% endblock page_content %}