{% extends 'admin_base.jinja' %}

{% block title %}
    {{ book.title }} | ObsCure Dream
{% endblock title %}

{% block page_content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12 col-xl-12">
            <div class="card card-body mb-4">
                <div class="row gx-4">
                    <div class="col-auto">
                        <div class="btn-group me-10">
                            <a class="btn bg-gradient-default btn-sm" href="{{ url_for('admin.books')}}">Go back</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
                        <div class="nav-wrapper position-relative end-0">
                            <ul class="nav nav-pills nav-fill p-1 bg-transparent" role="tablist">
                                <li class="nav-item">
                                    <button type="button" class="btn btn-link text-info text-gradient px-3 mb-0" data-bs-toggle="modal" data-bs-target="#uploadBookFile">
                                        <i class="fas fa-file-import text-dark me-2" aria-hidden="true"></i>
                                        Import
                                    </button>
                                    <a class="btn btn-link text-dark text-gradient px-3 mb-0" href="{{ url_for('admin.book_edit', book_id=book.id)}}">
                                        <i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>
                                        Edit
                                    </a>
                                    <button type="button" class="btn btn-link text-danger text-gradient px-3 mb-0" data-bs-toggle="modal" data-bs-target="#deleteBook">
                                        <i class="far fa-trash-alt me-2" aria-hidden="true"></i>
                                        Delete
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-xl-3">
            <div class="card mb-4">
                <div class="card-body p-2">
                    <img src="{{ book.cover }}" alt="img-blur-shadow" class="img-fluid shadow border-radius-md">
                    <a class="btn btn-success btn-sm w-100 mt-2 mb-2" href="{{ url_for('admin.book_reader', book_id=book.id)}}">
                        Start reading
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-9">
            <div class="card mb-4">
                <div class="card-body p-3">
                    <div class="card-body px-1 pb-0">
                        <div class="row">
                            <div class="col-12 col-xl-auto d-flex align-items-center">
                                <h3>{{ book.title }}</h3>
                            </div>
                            <div class="col-12 col-xl-auto d-flex align-items-center">
                            {% if book.is_published %}
                                <span class="badge badge-pill badge-lg bg-gradient-success">Published</span>
                            {% else %}
                                <span class="badge badge-pill badge-lg bg-gradient-secondary">Unpublished</span>
                            {% endif %}
                            </div>
                        </div>
                        <p class="text-gradient text-dark mb-2 mt-2 text-sm">
                            Author: {{ book.author }}
                        </p>
                        <p class="text-gradient text-dark mb-2 mt-2 text-sm">
                            Pages count: {{ book.pages_count }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body p-3">
                    <div class="card-body px-1 pb-0">
                        <h4>Annotation</h4>
                        <p class="mb-4 text-sm">
                            {{ book.annotation }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal book file uploader -->
<div class="modal fade" id="uploadBookFile" tabindex="-1" role="dialog" aria-labelledby="uploadBookFileLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadBookFileLabel">Choose book file</h5>
            </div>
            <div class="modal-body">
            {% if book_upload_form %}
                {% for field, errors in book_upload_form.errors.items() %}
                    {{ ', '.join(errors) }}
                {% endfor %}
                <form action="" method="POST" class="form-contact" enctype="multipart/form-data">
                    {{ book_upload_form.hidden_tag() }}
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="far fa-file-image"></i>
                        </span>
                        {{ book_upload_form.book_file(class_='form-control') }}
                    </div>
                    {{ book_upload_form.submit(class_='btn btn-outline-dark mb-0') }}
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- Modal for books deletitions -->
<div class="modal fade" id="deleteBook" tabindex="-1" role="dialog" aria-labelledby="deleteBookLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteBookLabel">Delete this book?</h5>
            </div>
            <div class="modal-body">
                 <h5>{{ book.title }}</h5>
                 <h6>{{ book.author }}</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-gradient-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                <a class="btn btn-outline-danger btn-sm" href="{{ url_for('admin.book_delete', book_id=book.id)}}">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock page_content %}


