{% extends 'admin_base.jinja' %}

{% block title %}
Add page | Obscure Dream
{% endblock title%}

{% block page_content %}
<div class="container-fluid py-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-1">
                <a class="btn btn-outline-dark btn-sm" href="{{ url_for('admin.books')}}"><span data-feather="corner-down-left"></span> Go back</a>
            </div>
        </div>
    </div>
    {% if form %}
    
    {% endif %}
</div>
{% endblock page_content %}