{% extends 'admin_base.jinja' %}

{% block title %}
    {{ book.title }} | ObsCure Dream
{% endblock title %}

{% block page_content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12 col-xl-12">
            <div class="card card-body shadow-x1 mb-4">
                <div class="row gx-4">
                    <div class="col-auto">
                        <div class="btn-group me-10">
                            <a class="btn bg-gradient-default btn-sm" href="{{ url_for('admin.book', book_id=book.id)}}">Go back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mb-2">
        <div class="col-12 col-xl-1">
            <button id="prevPage" class="btn btn-icon btn-2 btn-default reader-buttons mb-2" type="button">
                <i class="fas fa-chevron-left"></i>
            </button>
        </div>
        <div class="col-12 col-xl-auto">
            <div class="card shadow-x1 mb-2 reader-nav border-radius-md">
                <div id="readerNav" class="input-group">
                    <div class="btn-group">
                        <button id="bookmarkButton" class="btn btn-icon btn-2 btn-default mb-0" type="button">
                            <span class="btn-inner--icon"><i id="bookMarkButtonIco" class="far fa-bookmark"></i></span>
                        </button>
                        <button class="btn btn-icon btn-2 btn-default mb-0 dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        </button>
                        <ul id="bookMarksList" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        </ul>
                    </div>
                    <span class="input-group-text reader-span-element"></span>
                    <input id="currentPageNav" type="number" class="form-control reader-span-element">
                    <span class="input-group-text reader-span-element">of</span>
                    <span id="pagesCountNav" class="input-group-text reader-span-element"></span>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-1">
            <button id="nextPage" class="btn btn-icon btn-2 btn-default reader-buttons mb-2" type="button">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-xl-8">
            <div class="card shadow-x1 mb-4">
                <div id="pageContent" class="card-body p-2">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}

{% block customjs %}
<script src="/assets/js/reader.js"></script>
<script src="/assets/js/flash.min.js"></script>
{% endblock customjs %}


