{% extends 'admin_base.jinja' %}

{% block page_content %}
<div class="container-fluid py-4">
    <div class="col-12 mt-4">
        <div class="card mt-4">
            <div class="card-header pb-0 p-3">
                <div class="row gx-4">
                    <div class="col-auto">
                        <div class="avatar avatar-xl position-relative">
                            <img src="{{ user.avatar }}" class="w-100 border-radius-lg shadow-sm">
                            <button type="button" class="btn btn-sm btn-icon-only bg-gradient-light position-absolute bottom-0 end-0 mb-n2 me-n2" data-bs-toggle="modal" data-bs-target="#updateUserAvatar">
                                <i class="fas fa-pen top-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Image"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-auto my-auto">
                        <div class="h-100">
                            <h5 class="mb-1">
                                {{ user.username }}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-3">
            </div>
        </div>
    </div>

    <div class="row gx-4 mt-4">
        <div class="col-12 col-xl-4">
            <div class="card h-100">
                <div class="card-header pb-0 p-3">
                    <h6 class="mb-0">Profile information</h6>
                </div>
                <div class="card-body p-3">
                    
                    <ul class="list-group">
                        <li class="list-group-item border-0 ps-0 pt-0 text-sm">
                            <strong class="text-dark">Active:</strong>
                            <button id="userActivityStatus" class="btn btn-sm btn-toggle {% if user.active == True %}active{% endif %}" value="{{ user.id }}">
                                <div class="handle"></div>
                            </button>
                        </li>
                        <li class="list-group-item border-0 ps-0 pt-0 text-sm">
                            <strong class="text-dark">Email:</strong> &nbsp; {{ user.email }}
                        </li>
                        <li class="list-group-item border-0 ps-0 pt-0 text-sm">
                            <strong class="text-dark">Roles:</strong> &nbsp; 
                            {% for user_role in user.roles %}
                                <span class="badge bg-gradient-dark">{{ user_role.name }}</span> 
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="card h-100">
                <div class="card-header pb-0 p-3">
                    <h6 class="mb-0">Аctions</h6>
                </div>
                <div class="card-body p-3">
                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#deleteUser">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal update user avatar -->
<div class="modal fade" id="updateUserAvatar" tabindex="-1" role="dialog" aria-labelledby="updateUserAvatarLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateUserAvatarLabel">Upload avatar</h5>
            </div>
            <div class="modal-body">
            {% if avatar_form %}
                {% for field, errors in avatar_form.errors.items() %}
                    {{ ', '.join(errors) }}
                {% endfor %}
                <form action="" method="POST" class="form-contact" enctype="multipart/form-data">
                    {{ avatar_form.hidden_tag() }}
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="far fa-file-image"></i>
                        </span>
                        {{ avatar_form.image(class_='form-control') }}
                    </div>
                    {{ avatar_form.submit(class_='btn btn-outline-dark mb-0') }}
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- Modal for user deletitions -->
<div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="deleteUserLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserLabel">Delete this user?</h5>
            </div>
            <div class="modal-body">
                 <h5>{{ user.username }}</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-gradient-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                <a class="btn btn-outline-danger btn-sm" href="{{ url_for('admin.user_delete', user_id=user.id)}}">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}

{% block customjs %}
<script src="/assets/js/user.js"></script>
{% endblock customjs %}