{% extends 'admin_base.jinja' %}

{% block page_content %}
<div class="container-fluid py-4">
    <div class="card">
        <div class="card-header pb-0">
            <h5>Users table</h5>
            <a class="btn btn-dark btn-sm" href="{{ url_for('admin.user_create')}}">Add New</a>
        </div>
        <div class="table-responsive">
            <table class="table align-items-center mb-0">
                <thead>
                <tr>
                    <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7">User</th>
                    <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7">Role</th>
                    <th class="text-center text-uppercase text-dark text-xxs font-weight-bolder opacity-7">Status</th>
                    <th class="text-dark opacity-7"></th>
                </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>
                            <div class="d-flex px-2 py-1">
                                <div>
                                    <img src="{{ user.avatar }}" class="avatar avatar-sm me-3">
                                </div>
                                <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-xs">{{ user.username }}</h6>
                                    <p class="text-xs text-secondary mb-0">{{ user.email }}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            {% for user_role in user.roles %}
                                <p class="text-uppercase text-xs font-weight-bold mb-0">{{ user_role.name }}</p>
                                <p class="text-xs text-secondary mb-0">{{ user_role.description }}</p>
                            {% endfor %}
                        </td>
                        <td class="align-middle text-center text-sm">
                            {% if user.active == True %}
								<span class="badge bg-gradient-success">Active</span>
                            {% endif %}
                            {% if user.active == False %}
								<span class="badge bg-gradient-secondary">Unactive</span>
                            {% endif %}
                        </td>
                        <td class="align-middle">
                            <a href="{{ url_for('admin.user_profile', user_id=user.id)}}">
                                <i class="fas fa-user-cog fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock page_content %}
