{% extends 'admin_base.jinja' %}

{% block page_content %}
<div class="container-fluid py-4">
    <div class="card card-frame">
        <div class="card-body">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-1">
                        <a class="btn btn-outline-dark btn-sm" href="{{ url_for('admin.users_list')}}"><span data-feather="corner-down-left"></span> Go back</a>
                    </div>
                </div>
            </div>
            {% if form %}
            {% for field, errors in form.errors.items() %}
                {{ ', '.join(errors) }}
            {% endfor %}
            <form action="" method="POST" class="form-contact">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.username.label(class_='form-label') }}
                    {{ form.username(class_='form-control') }}
                </div>
                <div class="mb-3">
                    {{ form.email.label(class_='form-label') }}
                    {{ form.email(class_='form-control') }}
                </div>
                <div class="mb-3">
                    {{ form.password.label(class_='form-label') }}
                    {{ form.password(class_='form-control', type='password') }}
                </div>
                <div class="mb-3">
                    {{ form.confirm_password.label(class_='form-label') }}
                    {{ form.confirm_password(class_='form-control', type='password') }}
                </div>
                <div class="mb-3">
                    {{ form.role.label(class_='form-label') }}
                    {{ form.role(class_='form-control') }}
                </div>
                <div class="form-check form-switch">
                    {{ form.active.label(class_='form-check-label') }}
                    {{ form.active(class_='form-check-input', type='checkbox') }}
                </div>
                {{ form.submit(class_='btn btn-dark') }}
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock page_content %}
