{% extends 'auth_base.jinja' %}

{% block content %}

{% from "security/_macros.html" import render_field_with_errors, render_field %}
<div class="container">
    <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
            <div class="card card-plain mt-8">
                <div class="card-header pb-0 text-left bg-transparent">
                    <h3 class="font-weight-bolder text-dark text-gradient"><center>Sign in</center></h3>
                </div>
                <div class="card-body">
                    <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
                        {{ login_user_form.hidden_tag() }}
                        <div class="mb-3">
                            {{ render_field_with_errors(login_user_form.email, class_='form-control') }}
                        </div>
                        <div class="mb-3">
                            {{ render_field_with_errors(login_user_form.password, class_='form-control') }}
                        </div>
                        {{ render_field(login_user_form.next) }}
                        <div class="text-center">
                            {{ render_field(login_user_form.submit, class_='btn bg-gradient-dark w-100 mt-4 mb-0') }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('/assets/img/firewatch.webp')"></div>
            </div>
        </div>
    </div>
</div>
{% include "security/_menu.html" %}
{% endblock %}