{% extends 'public_base.jinja' %}

{% block page_content %}
<div class="container-fluid py-4">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="btn-toolbar mb-2 mb-md-0">
            <a class="btn bg-gradient-dark mb-0 icon-move-left" href="{{ url_for('public.notes')}}">
				<i class="fas fa-long-arrow-alt-left" aria-hidden="true"></i>
					Notes
			</a>
        </div>
    </div>
	<div class="card border-dark">
		<div class="card-body bg-gray-200">
			<p class="card-text">{{ note.body }}</p>
		</div>
		<div class="card-footer text-muted bg-gray-200">
			
		</div>
	</div>
	<div class="card card-body blur shadow-blur mx-4 mt-n6 bg-gray-100">
        <div class="row gx-4">
          <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
              <img src="/assets/img/default_avatar.webp"class="w-100 border-radius-lg shadow-sm">
            </div>
          </div>
          <div class="col-auto my-auto">
            <div class="h-100">
              <h5 class="mb-1">
                {{ note.author }}
              </h5>
              <p class="mb-0 font-weight-bold text-sm">
                {{ note.create_date.strftime('%d.%m.%Y, %H:%M:%S') }}
              </p>
            </div>
          </div>
        </div>
      </div>


</div>
{% endblock page_content %}