{% extends 'public_base.jinja' %}

{% block title %}
    Notes | Obscure Dream
{% endblock title %}

{% block page_content %}
<div class="container-fluid py-4">
	<div class="row">
		<div class="col-12 col-xl-4">
			<div class="card h-100 bg-gray-100">
				<div class="card-header pb-0 p-3 bg-gray-200">
					<h6 class="mb-0">Что-то появившееся в голове</h6>
				</div>
				<div class="card-body p-3">
					<ul class="list-group">
					{% for note in notes %}
						{% if note.is_published == True %}
						<li class="list-group-item border-0 d-flex align-items-center px-0 mb-2 bg-gray-100">
							<div class="avatar me-3">
								<img src="/assets/img/default_avatar.webp" alt="kal" class="border-radius-lg shadow">
							</div>
							<div class="d-flex align-items-start flex-column justify-content-center">
								<h6 class="mb-0 text-sm">{{ note.title }}</h6>
								<p class="mb-0 text-xs">{{ note.author }}</p>
							</div>
							<a class="btn btn-link pe-3 ps-0 mb-0 ms-auto icon-move-right" href="{{ url_for('public.note_view', note_id=note.id) }}">
								Read
								<i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
							</a>
						</li>
						{% endif %}
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock page_content %}
