{% set links = [
	['General', 'home', '', 'delimiter'],
	['Dashboard', 'chart-bar', 'admin.index', 'link'],
	['Library', 'book-open', '', 'delimiter'],
	['Notes', 'pen', 'admin.notes', 'link'],
	['Books', 'book', 'admin.books', 'link'],
	['Settings', 'cogs', '', 'delimiter'],
	['Users', 'users', 'admin.users_list', 'link']
] %}
{% set current_link = {'value': []} %}

{% for link in links %}
	{% if link[2] == request.endpoint %}
		{% if current_link.update({'value': link}) %}{% endif %}
	{% endif %}
{% endfor %}

<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--     Fonts and icons     -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<!-- Nucleo Icons -->
	<link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
	<link href="/assets/css/nucleo-svg.css" rel="stylesheet" />
	<!-- Font Awesome Icons -->
	<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
	<link href="/assets/css/nucleo-svg.css" rel="stylesheet" />
	<!-- CSS Files -->
	<link id="pagestyle" href="/assets/css/soft-ui-dashboard.css?v=1.0.2" rel="stylesheet" />
	<link id="pagestyle" href="/assets/css/custom.css" rel="stylesheet" />

	<!-- Flash CSS Files -->
	<link id="pagestyle" href="/assets/css/flash.min.css" rel="stylesheet" />

	<title>
	{% block title %}
		{{ current_link.value[0] }} | Obscure Dream
	{% endblock title %}
	</title>
</head>
<body class="g-sidenav-show bg-gray-100">
	{% block sidebar%}
	<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-md my-3 fixed-left ms-3 bg-white" id="sidenav-main" data-color="dark">
		<div class="sidenav-header">
			<i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute right-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
			<a class="navbar-brand m-0" href="{{ url_for('admin.index')}}">
				<img src="/assets/img/logo32x32.png" class="navbar-brand-img h-100" alt="...">
				<span class="ms-1 font-weight-bold">Admin Panel</span>
			</a>
		</div>
		<hr class="horizontal dark mt-0">
		<div class="collapse navbar-collapse  w-auto" id="sidenav-collapse-main">
			<ul class="navbar-nav">
				{% for link in links%}
					{% if link[3] == 'link' %}
						{% set is_active = link[2] == request.endpoint %}
						<li class="nav-item">
							<a class="nav-link {% if is_active %}active{% endif %}" href="{{ url_for(link[2]) }}">
							<div class="icon {% if is_active %}icon-shape{% endif %} icon-sm-sidebar shadow border-radius-lg bg-white text-center me-2 d-flex align-items-center justify-content-center">
								<i class="fas fa-{{ link[1] }}"></i>
							</div>
							<span class="nav-link-text ms-1">{{ link[0] }}</span>
							</a>
						</li>
					{% elif link[3] == 'delimiter' %}
						<li class="nav-item mt-2">
							<h6 class="ps-4 ms-2 text-xs font-weight-bolder opacity-6"><i class="fas fa-{{ link[1] }}"></i> {{ link[0] }}</h6>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</aside>
	{% endblock sidebar %}

	{% block content %}
		<main class="main-content mt-1 border-radius-lg">
			<!-- Navbar -->
			<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-x1 border-radius-md blur left-auto top-1 bg-white" style="z-index:1" id="navbarBlur" navbar-scroll="true">
				<div class="container-fluid py-1 px-3">
					<nav aria-label="breadcrumb">
						<h6 class="font-weight-bolder mb-0">{{ current_link.value[0] }}</h6>
					</nav>
					<div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
						<div class="ms-md-auto pe-md-3 d-flex align-items-center"></div>
						<ul class="navbar-nav  justify-content-end">
							<li class="nav-item dropdown pe-2 d-flex align-items-center">
								<a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
									<div class="d-flex px-0 py-0">
										<img src="{{current_user.avatar}}" class="avatar avatar-sm border-radius-sm">
									</div>
								</a>
								<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
									<li>
										<a class="dropdown-item" href="{{ url_for('admin.user_profile', user_id=current_user.id) }}">
											<span class="d-sm-inline d-none">{{ current_user.username }}</span>
										</a>
									</li>
									<li>
										<a class="dropdown-item" href="{{ url_for('security.logout') }}">
											Logout
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- End Navbar -->
		
			{% block page_content %}
			{% endblock page_content %}
		</main>
	{% endblock content %}

	{# Flashed allerts #}
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			<div class="flashed-allerts">
			{% for category, message in messages %}
				{% if category == 'success' %}
					<div class="alert alert-success alert-dismissible fade show text-white" role="alert">
				{% elif category == 'error' %}
					<div class="alert alert-danger alert-dismissible fade show text-white" role="alert">
				{% else %}
					<div class="alert alert-dark alert-dismissible fade show text-white" role="alert">
				{% endif %}
						<span class="alert-text"><strong>{{ message }}</strong></span>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
			{% endfor %}
			</div>
		{% endif %}
	{% endwith %}
	{# End flashed allerts #}
	
	<!--   Core JS Files   -->
	<script src="/assets/js/core/popper.min.js"></script>
	<script src="/assets/js/core/bootstrap.min.js"></script>
	<script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
	<script src="/assets/js/plugins/chartjs.min.js"></script>
	<script src="/assets/js/plugins/Chart.extension.js"></script>

	<!--   Flash JS Files   -->
	<script src="/assets/js/flash.min.js"></script>

	{% block customjs %}
	{% endblock customjs %}
</body>
</html>