<!doctype html>
<html lang="en">
	<head>
		<!--     Fonts and icons     -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
		<!-- Nucleo Icons -->
		<link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
		<link href="/assets/css/nucleo-svg.css" rel="stylesheet" />
		<!-- Font Awesome Icons -->
		<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
		<link href="/assets/css/nucleo-svg.css" rel="stylesheet" />
		<!-- CSS Files -->
		<link id="pagestyle" href="/assets/css/soft-ui-dashboard.css?v=1.0.2" rel="stylesheet" />
		<link id="pagestyle" href="/assets/css/custom.css" rel="stylesheet" />

		<title>
			{% block title%}
			Auth | Obscure Dream
			{% endblock title%}
		</title>
	</head>
	<body>
	{% block header %}
	{% endblock header %}
	<section>
		<div class="page-header section-height-75">
		{% block content %}
		<!-- Content -->
		{% endblock content %}
		</div>
	</section>

	<!-- Flashed allerts -->
	<div class="flashed-allerts">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
				<div class="alert alert-dark alert-dismissible fade show text-white" role="alert">
					<span class="alert-icon"><i class="fas fa-exclamation-circle"></i></span>
					<span class="alert-text"><strong>{{ message }}</strong></span>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
	</div>
	<!-- End flashed allerts -->

	<script src="../assets/js/core/popper.min.js"></script>
	<script src="../assets/js/core/bootstrap.min.js"></script>
	<script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
	<script>
		var win = navigator.platform.indexOf('Win') > -1;
		if (win && document.querySelector('#sidenav-scrollbar')) {
		var options = {
			damping: '0.5'
		}
		Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
		}
	</script>
	<!-- Github buttons -->
	<script async defer src="https://buttons.github.io/buttons.js"></script>
	<!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
	<script src="../assets/js/soft-ui-dashboard.min.js?v=1.0.2"></script>
</body>
</html>