{% set links = [
	['Notes', 'file-alt', 'public.notes']
] %}
{% set current_link = {'value': []} %}

{% for link in links %}
	{% if link[2] == request.endpoint %}
		{% if current_link.update({'value': link}) %}{% endif %}
	{% endif %}
{% endfor %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!--     Fonts and icons     -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />

	<!-- Nucleo Icons -->
	<link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
	<link href="/assets/css/nucleo-svg.css" rel="stylesheet" />

	<!-- Font Awesome Icons -->
	<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
	<link href="/assets/css/nucleo-svg.css" rel="stylesheet" />

	<!-- CSS Files -->
	<link id="pagestyle" href="/assets/css/soft-ui-dashboard.css?v=1.0.2" rel="stylesheet" />
	<link id="pagestyle" href="/assets/css/custom.css" rel="stylesheet" />

    <title>
	{% block title %}
		{% if current_link.value[0] %}
			{{ current_link.value[0] }}
		{% endif %}
		{% if note %}
			{{ note.title }}
		{% endif %} | Obscure Dream
	{% endblock title %}
    </title>
</head>
<body class="g-sidenav-show bg-gray-100">
	{% block sidebar%}
	<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-md my-3 fixed-left ms-3 bg-gray-200" id="sidenav-main" data-color="dark">
		<div class="sidenav-header">
			<i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute right-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
			<a class="navbar-brand m-0" href="{{ url_for('public.index')}}">
				<img src="/assets/img/logo32x32.png" class="navbar-brand-img h-100" alt="...">
				<span class="ms-1 font-weight-bold">Obscure Dream</span>
			</a>
		</div>
		<hr class="horizontal dark mt-0">
		<div class="collapse navbar-collapse  w-auto" id="sidenav-collapse-main">
			<ul class="navbar-nav">
				{% for link in links%}
					{% set is_active = link[2] == request.endpoint %}
					<li class="nav-item">
						<a class="nav-link {% if is_active %}active{% endif %}" href=" {{ url_for(link[2]) }}">
							<div class="icon {% if is_active %}icon-shape{% endif %} icon-sm-sidebar shadow border-radius-lg bg-white text-center me-2 d-flex align-items-center justify-content-center">
								<i class="fas fa-{{ link[1] }}"></i>
							</div>
							<span class="nav-link-text ms-1">{{ link[0] }}</span>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</aside>
	{% endblock sidebar%}

	{% block content %}
	<main class="main-content mt-1 border-radius-lg">
		<!-- Navbar -->
		<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-md position-sticky blur mt-4 left-auto top-1 z-index-sticky bg-gray-200" id="navbarBlur" navbar-scroll="true">
			<div class="container-fluid py-1 px-3">
				<nav aria-label="breadcrumb">
					<h6 class="font-weight-bolder mb-0">
						{% if current_link.value[0] %}
							{{ current_link.value[0] }}
						{% endif %}
						{% if note %}
							{{ note.title }}
						{% endif %}
					</h6>
				</nav>
				<div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
					<div class="ms-md-auto pe-md-3 d-flex align-items-center"></div>
					<ul class="navbar-nav  justify-content-end">
						<li class="nav-item dropdown pe-2 d-flex align-items-center">
							<a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="fa fa-user me-sm-1" aria-hidden="true"></i>
								<span class="d-sm-inline d-none">{{ current_user.username }}</span>
							</a>
							<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
								<li>
									<a class="dropdown-item" href="{{ url_for('security.logout') }}">
										Logout
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- End Navbar -->

		{% block page_content %}
		{% endblock page_content %}
	</main>
	{% endblock content %}
	
	<!-- Flashed allerts -->
	<div class="flashed-allerts">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
				<div class="alert alert-dark alert-dismissible fade show text-white" role="alert">
					<span class="alert-text"><strong>{{ message }}</strong></span>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
	</div>
	<!--End  flashed allerts -->

	<!--   Core JS Files   -->
	<script src="/assets/js/core/popper.min.js"></script>
	<script src="/assets/js/core/bootstrap.min.js"></script>
	<script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
	<script src="/assets/js/plugins/chartjs.min.js"></script>
	<script src="/assets/js/plugins/Chart.extension.js"></script>
</body>
</html>