{% extends 'admin_base.jinja' %}

{% block page_content %}
<div class="container-fluid py-4">
    <div class="card">
        <div class="card-header pb-0">
            <h5>Notes</h5>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-1">
                    <a class="btn btn-dark btn-sm" href="{{ url_for('admin.note_add')}}">+ Note</a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table align-items-center mb-0">
                <thead>
                <tr>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Title</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Is Published</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Author</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Created Date</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for note in notes%}
                    <tr>
                        <td class="align-middle text-center text-sm">
                            <p class="text-xs font-weight-bold mb-0">{{ note.title }}</p>
                        </td>
                        <td class="align-middle text-center text-sm">
                            {% if note.is_published == True %}
								<span class="badge bg-gradient-success">Published</span>
                            {% endif %}
                            {% if note.is_published == False %}
								<span class="badge bg-gradient-secondary">Unpublished</span>
                            {% endif %}
                        </td>
                        <td class="align-middle text-center text-sm">
                            <h6 class="mb-0 text-xs">{{ note.author }}</p>
                        </td>
                        <td class="align-middle text-center text-sm">
                            {{ note.create_date.strftime('%d.%m.%Y, %H:%M:%S') }}
                        </td>
                        <td class="align-middle text-center text-sm">
							{# Размер кнопок! #}
                            <form>
                                <div class="btn-group">
                                    <button class="btn btn-outline-info btn-sm"
                                            type="submit"
                                            formaction="{{ url_for('public.note_view', note_id=note.id) }}"
                                            formmethod="GET"
                                    >
                                            <span class="btn-inner--icon"><i class="fas fa-eye fa-md"></i></span>
											<span class="btn-inner--text">View</span>
                                    </button>
                                    <button class="btn btn-outline-primary btn-sm"
                                            type="submit"
                                            formaction="{{ url_for('admin.note_edit', note_id=note.id) }}"
                                            formmethod="GET"
                                    >
                                            <span class="btn-inner--icon"><i class="fas fa-pen fa-md"></i></span>
											<span class="btn-inner--text">Edit</span>
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button class="btn btn-outline-danger btn-sm"
                                            type="submit"
                                            formaction="{{ url_for('admin.note_delete') }}"
                                            formmethod="POST" name="noteDelID" value="{{ note.id }}"
                                    >
                                            <span class="btn-inner--icon"><i class="fas fa-trash fa-md"></i></span>
											<span class="btn-inner--text">Delete</span>
                                    </button>
                                </div>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock page_content %}