{% extends 'admin_base.jinja' %}

{% block page_content %}
<div class="container-fluid py-4">
	<div class="row">
		<div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
			<div class="card">
				<div class="card-body p-3">
					<div class="row">
						<div class="col-8">
							<div class="numbers">
								<p class="text-sm mb-0 text-capitalize font-weight-bold">Time:</p>
								<h5 class="font-weight-bolder mb-0">
								{{ current_time }}
								<span class="text-success text-sm font-weight-bolder">Good time!</span>
								</h5>
							</div>
						</div>
						<div class="col-4 text-end">
							<div class="icon icon-shape bg-gradient-info shadow text-center border-radius-md">
								<i class="ni ni-watch-time text-lg opacity-10" aria-hidden="true"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
			<div class="card">
				<div class="card-body p-3">
					<div class="row">
						<div class="col-8">
							<div class="numbers">
								<p class="text-sm mb-0 text-capitalize font-weight-bold">Where are we?</p>
								<h5 class="font-weight-bolder mb-0">
								Belarus
								<span class="text-success text-sm font-weight-bolder">Pruzhany</span>
								</h5>
							</div>
						</div>
						<div class="col-4 text-end">
							<div class="icon icon-shape bg-gradient-success shadow text-center border-radius-md">
								<i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
			<div class="card">
				<div class="card-body p-3">
					<div class="row">
						<div class="col-12">
							<div class="numbers">
								<p class="text-sm mb-0 text-capitalize font-weight-bold">Actual weather</p>
							</div>
							<div id="d9d04c86b8983d796104fc450e8603a6" class="ww-informers-box-854753">
								<p class="ww-informers-box-854754">
									<a href="https://world-weather.ru/pogoda/belarus/pruzhanyi/">Прогноз погоды в Пружанах</a>
									<br>
									<a href="https://world-weather.ru/pogoda/russia/kursk/">https://world-weather.ru/pogoda/russia/kursk/</a>
									</p>
							</div>
							<script async type="text/javascript" charset="utf-8" src="https://world-weather.ru/wwinformer.php?userid=d9d04c86b8983d796104fc450e8603a6"></script>
							<style>.ww-informers-box-854754{-webkit-animation-name:ww-informers54;animation-name:ww-informers54;-webkit-animation-duration:1.5s;animation-duration:1.5s;white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;font-size:12px;font-family:Arial;line-height:18px;text-align:center}@-webkit-keyframes ww-informers54{0%,80%{opacity:0}100%{opacity:1}}@keyframes ww-informers54{0%,80%{opacity:0}100%{opacity:1}}</style>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock page_content %}